.form-container {
    width: 25rem;
    border: 1px solid var(--primary);
}

.login-form {
    position: relative;
    width: 100%;
}

.form-btn {
    width: 100%;
}

.forgot-btn {
    text-decoration: underline;
    position: absolute;
    right: 2rem;
    font-weight: 700;
}